# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/analysis/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Country,Date
0,0,Bredasdorp,-34.5322,20.0403,68.97,68,1,13.58,clear sky,ZA,2022-10-18 14:34:32
1,1,Maceio,-9.6658,-35.7353,83.64,69,75,14.97,broken clouds,BR,2022-10-18 14:33:24
2,2,Provideniya,64.3833,-173.3000,24.91,75,32,1.68,scattered clouds,RU,2022-10-18 14:35:54
3,3,Airai,-8.9266,125.4092,63.14,92,100,1.81,overcast clouds,TL,2022-10-18 14:35:54
4,4,Ereymentau,51.6199,73.1033,39.92,67,89,7.58,overcast clouds,KZ,2022-10-18 14:35:55

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                                            (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Country,Date
0,0,Bredasdorp,-34.5322,20.0403,68.97,68,1,13.58,clear sky,ZA,2022-10-18 14:34:32
1,1,Maceio,-9.6658,-35.7353,83.64,69,75,14.97,broken clouds,BR,2022-10-18 14:33:24
5,5,Puerto Baquerizo Moreno,-0.9000,-89.6000,68.99,83,75,11.50,broken clouds,EC,2022-10-18 14:35:55
6,6,Kapaa,22.0752,-159.3190,73.38,89,0,9.22,clear sky,US,2022-10-18 14:35:55
9,9,Sinnamary,5.3833,-52.9500,84.90,67,99,9.62,overcast clouds,GF,2022-10-18 14:35:57
13,13,Atuona,-9.8000,-139.0333,76.55,70,0,15.90,clear sky,PF,2022-10-18 14:35:59
14,14,Ribeira Grande,38.5167,-28.7000,66.60,52,40,24.16,scattered clouds,PT,2022-10-18 14:35:59
15,15,Cairns,-16.9167,145.7667,76.95,87,67,4.61,broken clouds,AU,2022-10-18 14:36:00
17,17,Puerto Ayora,-0.7393,-90.3518,69.76,82,44,5.01,scattered clouds,EC,2022-10-18 14:31:17
18,18,Puntilla Aldama,20.1833,-96.9167,77.47,89,99,4.63,moderate rain,MX,2022-10-18 14:36:01

In [5]:
preferred_cities_df.count()

City_ID        299
City           299
Lat            299
Lng            299
Max Temp       299
Humidity       299
Cloudiness     299
Wind Speed     299
Description    299
Country        296
Date           299
dtype: int64

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.count()

City_ID        296
City           296
Lat            296
Lng            296
Max Temp       296
Humidity       296
Cloudiness     296
Wind Speed     296
Description    296
Country        296
Date           296
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [7]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng
0,Bredasdorp,ZA,68.97,clear sky,-34.5322,20.0403
1,Maceio,BR,83.64,broken clouds,-9.6658,-35.7353
5,Puerto Baquerizo Moreno,EC,68.99,broken clouds,-0.9000,-89.6000
6,Kapaa,US,73.38,clear sky,22.0752,-159.3190
9,Sinnamary,GF,84.90,overcast clouds,5.3833,-52.9500
13,Atuona,PF,76.55,clear sky,-9.8000,-139.0333
14,Ribeira Grande,PT,66.60,scattered clouds,38.5167,-28.7000
15,Cairns,AU,76.95,broken clouds,-16.9167,145.7667
17,Puerto Ayora,EC,69.76,scattered clouds,-0.7393,-90.3518
18,Puntilla Aldama,MX,77.47,moderate rain,20.1833,-96.9167

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [8]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Bredasdorp,ZA,68.97,clear sky,-34.5322,20.0403,
1,Maceio,BR,83.64,broken clouds,-9.6658,-35.7353,
5,Puerto Baquerizo Moreno,EC,68.99,broken clouds,-0.9000,-89.6000,
6,Kapaa,US,73.38,clear sky,22.0752,-159.3190,
9,Sinnamary,GF,84.90,overcast clouds,5.3833,-52.9500,
13,Atuona,PF,76.55,clear sky,-9.8000,-139.0333,
14,Ribeira Grande,PT,66.60,scattered clouds,38.5167,-28.7000,
15,Cairns,AU,76.95,broken clouds,-16.9167,145.7667,
17,Puerto Ayora,EC,69.76,scattered clouds,-0.7393,-90.3518,
18,Puntilla Aldama,MX,77.47,moderate rain,20.1833,-96.9167,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [9]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [10]:
        
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()

    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        print("hotel found")
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found

In [11]:
# Display sample data
hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [12]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset = ['Hotel Name'])

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Bredasdorp,ZA,68.97,clear sky,-34.5322,20.0403,Bredasdorp Country Manor
1,Maceio,BR,83.64,broken clouds,-9.6658,-35.7353,Hotel Ponta Verde Maceió
5,Puerto Baquerizo Moreno,EC,68.99,broken clouds,-0.9000,-89.6000,Hotel los Algarrobos
6,Kapaa,US,73.38,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
9,Sinnamary,GF,84.90,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [13]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [19]:
# Set the file name.
output_data_file = "analysis/WeatherPy_vacation2.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label=" ")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [15]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [16]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Bredasdorp Country Manor</dd>\n<dt>City</dt><dd>Bredasdorp</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>clear sky and 68.97 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Ponta Verde Maceió</dd>\n<dt>City</dt><dd>Maceio</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 83.64 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel los Algarrobos</dd>\n<dt>City</dt><dd>Puerto Baquerizo Moreno</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>broken clouds and 68.99 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 73.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>ALETHEIA Appartement Sinnamary</dd>\n<dt>City</dt><dd>Sinnamary</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 84.9 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 76.55 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Quinta da Meia Eira</dd>\n<dt>City</dt><dd>Ribeira Grande</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 66.6 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mantra Trilogy Cairns</dd>\n<dt>City</dt><dd>Cairns</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.95 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 69.76 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Maison Couturier</dd>\n<dt>City</dt><dd>Puntilla Aldama</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>moderate rain and 77.47 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [17]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -34.5322   20.0403
1   -9.6658  -35.7353
5   -0.9000  -89.6000
6   22.0752 -159.3190
9    5.3833  -52.9500
13  -9.8000 -139.0333
14  38.5167  -28.7000
15 -16.9167  145.7667
17  -0.7393  -90.3518
18  20.1833  -96.9167

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [25]:

# Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
#              dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

# Create a figure to add the Google map as a layer
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""
# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))